@import url("https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap");

body {
 font-family: "Rum Raisin", sans-serif;
 font-size: x-large;
}

.homePageBasket {
    display: inline;
    width: 300px;
}

.homePageLink {
    max-width: 100%;
}

.homePageLink:hover {
    background-image: url(./img/bg.png);
    background-size: cover;
    border-radius: 25px;
}

.portfolio-link {
    padding-right: 10px;
}